.page{
    width: 30%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 4%;
}

#counter{
    color: rgb(161, 11, 11);
}

button {
    border: none;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 3%;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: grey;
}

